<nav class="navbar navbar-expand-md  navbar-collapse navbar-dark bg-dark">
  <span class="navbar-brand">Richard Bullock</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    (click)="showNavbarContent()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav-item nav-fill" id="navbarContent">
    <ul class="navbar-nav nav-item nav-fill">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['landing']">Who Am I</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['skills']">What Do I Know</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['projects']">What Have I Built</a>
      </li>
    </ul>
  </div>
</nav>
