/* You can add global styles to this file, and also import other style files */

.wrapper {
  height: 100%;
  width: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 999;
  font-size: 24px;
}
